@inherits LayoutComponentBase

<PageTitle>ศูนย์ข้อมูลน้ำระดับจังหวัด</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="toprow">
            <header class="bg-white sticky-top mb-relative">
                <nav class="navbar navbar-light bg-white border-bottom py-0">
                    <div class="container align-items-stretch flex-column flex-lg-row">
                        <div class="border-lg-right p-2 d-flex justify-content-between rounded mx-auto d-block">
                            &nbsp;<img src="Image/logo/0.png" alt="กระทรวงมหาดไทย">&nbsp;
                            &nbsp;<img src="Image/logo/nhc.png" alt="คลังข้อมูลน้ำแห่งชาติ">&nbsp;
                            &nbsp;<img src="Image/logo/67.png" alt="logo">&nbsp;
                        </div>
                        <div class="pt-3 mr-lg-auto px-lg-3 header-title text-center">
                            <h5 class="mb-0 text-primary">ศูนย์ข้อมูลน้ำระดับจังหวัด</h5>
                            <small>WATER RESOURCES MANAGEMENT OPERATION CENTER</small>
                        </div>
                        <div class="px-3 py-2 mx-auto d-flex">
                            <div class="align-self-center">
                                <div role="presentation" class="bg-primary text-white py-1 px-4 text-center badge-pill"
                                    style="cursor: text;"><u title=""
                                        style="text-decoration-color: rgba(131, 176, 215, 0);">@province_name&nbsp;</u>
                                </div>
                            </div>
                        </div>
                        <div
                            class="dropdown d-lg-flex border-lg-left border-right d-none justify-content-center notification-panel">
                            <a class="dropdown-toggle align-self-center" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                    src="Image/logo/planet-earth.png" alt="" title="แจ้งสถานการณ์จาก ป.ภ."></a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-item text-primary text-center border-bottom-0">ไม่มีรายงาน</div>
                            </div>
                        </div>
                        <div class="dropdown d-lg-flex d-none justify-content-center"><a
                                class="dropdown-toggle align-self-center" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                    src="Image/logo/ellipse.png" alt=""></a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <h6 class="dropdown-header">เปลี่ยนภาษา</h6><a class="dropdown-item" href="#"><img
                                        src="Image/logo/TH.png" alt="">ไทย</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
        </div>
        <div class="toprow">
            <nav class="navbar navbar-light bg-white border-bottom py-0">
                &nbsp;
                <div class="mr-2"><small>ฝนสูงสุดวานนี้</small>
                    <h4 class="m-0 text-primary">
                        <div title="">@rain_level_2daysago_max</div>
                    </h4><small>(มม.)</small>
                </div>
                <div class="mr-2"><small>ฝนสะสม 3 วัน</small>
                    <h4 class="m-0 text-primary">
                        <div title="">@rain_level_3daysago_avg</div>
                    </h4><small>(มม.)</small>
                </div>
                <div class="mr-2"><small>ฝนสะสม 7 วัน</small>
                    <h4 class="m-0 text-primary">
                        <div title="">@rain_level_7daysago_avg</div>
                    </h4><small>(มม.)</small>
                </div>
                <div class="mr-2"><small>อุณหภูมิในรอบสัปดาห์</small>
                    <div class="row">
                        <div class="col">
                            <h4 class="m-0 text-primary degree-celsius">@max_temp_of_week</h4>
                            <small>สูงสุด<i class='fas fa-caret-up' style='font-size:14px;color:green'></i></small>
                        </div>
                        <div class="col">
                            <h4 class="m-0 text-primary degree-celsius">@min_temp_of_week</h4>
                            <small>ต่ำสุด<i class='fas fa-caret-down' style='font-size:14px;color:red'></i></small>
                        </div>
                    </div>
                </div>
                <div class="mr-2"><small>ปริมาณน้ำใช้การรวมของ<br> เขื่อน วันนี้ปีที่ผ่านมา</small>
                    <h4 class="m-0 text-primary">@volumn_of_water_usage<small>
                            (@volumn_of_water_usage_percentage%)</small></h4>
                </div>
                <div class="DisasterArea"><small>พื้นที่เกิดสาธารณภัย</small>
                    <table class="table table-sm table-borderless small mb-0">
                        <tbody>
                            <tr>
                                <td>อุทกภัย</td>
                                <td><span class="badge badge-secondary">
                                        <div>@number_of_flood_district</div>
                                    </span></td>
                                <td>อำเภอ</td>
                            </tr>
                            <tr>
                                <td>ภัยแล้ง</td>
                                <td><span class="badge badge-secondary">
                                        <div>@number_of_drought_district</div>
                                    </span></td>
                                <td>อำเภอ</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                &nbsp;
            </nav>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

private double rain_level_2daysago_max = 0;
private double rain_level_3daysago_avg = 0;
private double rain_level_7daysago_avg = 0;
private double max_temp_of_week = 0;
private double min_temp_of_week = 0;
private double volumn_of_water_usage = 0;
private double volumn_of_water_usage_percentage = 0;
private int number_of_flood_district = 0;
private int number_of_drought_district = 0;
private string province_name = "จังหวัดเพชรบูรณ์";




protected void Get_rain_level_2daysago_max()
{
rain_level_2daysago_max = 31.0;
}
protected void Get_rain_level_3daysago_avg()
{
rain_level_3daysago_avg = 75.5;
}
protected void Get_rain_level_7daysago_avg()
{
rain_level_7daysago_avg = 300.5;
}
protected void Get_max_temp_of_week()
{
max_temp_of_week = 41.5;
}
protected void Get_min_temp_of_week()
{
min_temp_of_week = 23.0;
}
protected void Get_volumn_of_usage_water()
{
volumn_of_water_usage = 55;
}
protected void Get_volumn_of_usage_water_percentage()
{
volumn_of_water_usage_percentage = 55 /0.25;
}
protected void Get_number_of_flood_district()
{
number_of_flood_district = 55;
}
protected void Get_number_of_drought_district()
{
number_of_drought_district = 1;
}
protected void Get_province_name()
{
province_name = "จังหวัดกรุงเทพมหานคร";
}

protected override void OnInitialized()
{
<!-- SomeStartupMethod();
        await SomeStartupTask(); -->
        Get_province_name();
Get_rain_level_2daysago_max();
Get_rain_level_3daysago_avg();
Get_rain_level_7daysago_avg();
Get_max_temp_of_week();
Get_min_temp_of_week();
Get_volumn_of_usage_water();
Get_volumn_of_usage_water_percentage();
Get_number_of_flood_district();
Get_number_of_drought_district();
}
}